

<app-template></app-template>
<!-- Here is my body -->

  <div (click)="closeSidenav()" class="body con bg-gray-200 max-phone:max-h-[1500px] phone:max-h-[1500px]  ml-[250px]
    max-desktop:w-full max-desktop:ml-[0%] laptop:max-h-[1300px] phone:min-h-full desktop:min-h-screen"
  >
  <!-- Here is my blue header section -->
    <div class="
      z-20 bg-[#1357ebea] desktop:ml-1 mr-0 mt-14 right-0 w-full h-[250px] pt-4 phone:h-[200px]
      max-desktop:w-[100%] max-desktop:ml-[0%] desktop:h-[255px]"
    >
      <!-- container for title and input -->
      <div class="container flex mt-4 tablet:w-full max-desktop:flex max-desktop:flex-col"
      >
        <div class="dashboard  text-white font-bold text-5xl ml-5 flex-col flex max-desktop:mt-0">
          Dashboard
          <span class="max-phone:text-sm max-tablet:text-base text-lg opacity-50 font-normal">Manage your stocks professionally</span>
        </div>
        <div class="tablet:absolute tablet:right-2 max-tablet:relative ml-5 mt-4 laptop:right-4 desktop:right-8">
          <input disabled #date class="brightness-100 bg-white rounded-md w-56 h-10  outline-none px-4" placeholder="Select data range" type="text">
        </div>
      </div><!--End container-->
    </div><!--End header-->
    <div class="main-box phone:grid phone:grid-cols-1 max-phone:gap-4 phone:gap-4 phone:mt-4 desktop:-mt-[105px] laptop:mt-0">
      <div class="sub-main-box laptop:grid laptop:grid-cols-2 max-phone:gap-4 phone:space-y-4 laptop:gap-y-2 laptop:gap-x-0 desktop:flex desktop:gap-x-4 desktop:mx-2" >

        <div class="laptop:mt-4 box1 w-[87%] min-h-[150px] bg-[#135beb] rounded-md mx-auto text-center flex flex-col pt-4 space-y-4 shadow-md">
          <span class="text-white text-[17px] font-bold">Products Supplied</span>
          <span class="text-white text-[28px] ">30</span>
          <hr>
          <span routerLink="" class="text-white hover:cursor-pointer">view</span>
        </div>
        <div class="box2 w-[87%] min-h-[150px] bg-yellow-500 opacity-100 rounded-md mx-auto text-center flex flex-col pt-4 space-y-4 shadow-md ">
          <span class="text-white text-[17px] font-bold">Products Sold</span>
          <span class="text-white text-[28px] ">30</span>
          <hr>
          <span routerLink="" class="text-white hover:cursor-pointer">view</span>
        </div>
        <div class="box3 w-[87%] min-h-[150px] bg-green-600 opacity-100  rounded-md mx-auto text-center flex flex-col pt-4 space-y-4 shadow-md ">
          <span class="text-white text-[17px] font-bold">Earnings(Monthly)</span>
          <span class="text-white text-[28px] ">$3000</span>
          <hr>
          <span routerLink="" class="text-white hover:cursor-pointer">view</span>
        </div>
        <div class="box4 w-[87%] min-h-[150px] bg-red-600 rounded-md mx-auto text-center flex flex-col pt-4 space-y-4 shadow-md ">
          <span class="text-white text-[17px] font-bold">Earnings(Annual)</span>
          <span class="text-white text-[28px] ">$3000</span>
          <hr>
          <span routerLink="" class="text-white hover:cursor-pointer">view</span>
        </div>
      </div>

      <div class="white-box phone:space-y-4 desktop:flex desktop:space-x-4 desktop:mx-4">

        <div class="desktop:mt-4 left-box w-[87%] min-h-[200px] bg-white rounded-md mx-auto text-center flex flex-col pt-4 space-y-2
          laptop:h-[230px] laptop:w-[84%] desktop:h-[300px] desktop:w-[80%]"
        >
          <span class="text-[#135beb] font-bold text-[17px]">Earnings</span>
          <hr>
        </div>
        <div class="right-box w-[87%] min-h-[200px] bg-white rounded-md mx-auto text-center flex flex-col pt-4 space-y-2
          laptop:h-[230px] laptop:w-[84%] desktop:h-[300px] desktop:w-[80%]"
        >
          <span class="text-[#135beb] font-bold text-[17px]">Monthly Revenue</span>
          <hr>
        </div>
      </div>
    </div>
    <app-template2></app-template2>

  </div><!-- end body -->





